<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.gnobal.dindy"
      android:versionName="1.2.9" android:versionCode="30">
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
    
    <uses-feature android:name="android.hardware.telephony" />
    
    <supports-screens 
		android:anyDensity="true" 
		android:largeScreens="true" 
		android:smallScreens="true" 
		android:resizeable="true" 
		android:normalScreens="true"
		android:xlargeScreens="true">
    </supports-screens>
    <application android:icon="@drawable/icon"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".DindyApplication">
        
        <!-- Main activities -->
        
        <activity android:name=".Dindy"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfilesListActivity" android:label="@string/preferences_profiles_list">
        </activity>
        <activity android:name=".ProfilePreferencesActivity">
        </activity>
        <activity android:name=".ProfileStarterActivity" android:theme="@style/Theme.Transparent">
        </activity>

		<!-- App widgets -->

        <activity android:name=".DindySingleProfileAppWidgetConfigure" android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:name=".DindySingleProfileAppWidgetProvider" android:label="@string/preferences_single_profile_app_widget_name">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/single_profile_appwidget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

		<!-- Locale -->

		<activity android:name=".locale.EditActivity" android:label="@string/locale_plugin_name" android:icon="@drawable/icon" android:theme="@android:style/Theme.Translucent">
			<intent-filter>
				<action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
			</intent-filter>
		</activity>
		<receiver android:name=".locale.FireReceiver">
			<intent-filter>
				<action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
			</intent-filter>
		</receiver>

		<!-- Shortcuts -->
 		
		<activity android:name=".DindyShortcuts" android:label="@string/shortcuts_name" android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="net.gnobal.dindy.ACTION_START_DINDY_SERVICE" />
                <action android:name="net.gnobal.dindy.ACTION_STOP_DINDY_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity-alias android:name=".CreateShortcuts" android:targetActivity=".DindyShortcuts" android:label="@string/shortcuts_name" android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

		<!-- Service -->

        <service android:name=".DindyService"></service>
	</application>
</manifest> 
